
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    background-color: antiquewhite;
}

header, footer {
    flex: 1;
    background-color: lemonchiffon;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h1, footer p {
    margin-bottom: 0.2rem;
}

main {
    flex: 9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.newGameBtn {
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px black;
    background-color: hsl(54, 100%, 90%);
    padding: 8px 16px;
    cursor: pointer;
}

.newGameBtn:active {
    background-color: hsl(54, 100%, 70%);
    scale: 0.95;
}

.newGameModal {
    box-sizing: border-box;
    position: fixed;
    top: 48%;
    left: 50%;
    translate: -50% -50%;
    background-color: lemonchiffon;
    border: 2px solid black;
    width: 70%;
    height: 325px;    
    max-width: 500px;
    border-radius: 5px;
    padding: 32px;
}

.newGameForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.radioContainer {
    display: flex;
    gap: 10px;
}

label {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}

label input {
    cursor: pointer;
}

.hidden {
    opacity: 0;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: black;
    gap: 8px;
}

.gameboardField {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 90px;
    background-color: white;
}
